<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This is a prototype of a web application for use along side the Dev 2 prototype. It records every cup of coffee that you brew so that you can comment on them and remember what worked well and what didn't.
</p>