<div class="center hero-unit">
  <h1>Welcome to the Blossom Data Collector</h1>

  <h2>
    This is the home page for the
    <a href="http://blossomcoffee.com/">Blossom Coffee</a>
    data collection application.
  </h2>

</div>