<li>
  <span class="temperature">Temperature: <%= cup.temperature %></span>
  <span class="temperature">Duration: <%= cup.duration %></span>
  <span class="timestamp">
    Brewed <%= time_ago_in_words(cup.created_at) %> ago.
  </span>
</li>