<footer class="footer">
  <small>
    Data Collector by <a href="http://www.blossomcoffee.com/">Blossom Coffee</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.blossomcoffee.com/blog/">News</a></li>
    </ul>
  </nav>
</footer>